@import "~bulma/sass/utilities/initial-variables"

@font-face
  font-family: "BaconBold"
  src: url("/fonts/BaconBold.woff2") format("woff2"),url("/fonts/BaconBold.woff") format("woff"),url("/fonts/BaconBold.otf") format("opentype")

@font-face
  font-family: "BaconVeryBold"
  src: url("/fonts/BaconVeryBold.woff2") format("woff2"),url("/fonts/BaconVeryBold.woff") format("woff"),url("/fonts/BaconVeryBold.otf") format("opentype")


@font-face
  font-family: "BaconLight"
  src: url("/fonts/BaconLight.woff2") format("woff2"),url("/fonts/BaconLight.woff") format("woff"),url("/fonts/BaconLight.otf") format("opentype")
        
@font-face
  font-family: "BaconRegular"
  src: url("/fonts/BaconRegular.woff2") format("woff2"),url("/fonts/BaconRegular.woff") format("woff"),url("/fonts/BaconRegular.otf") format("opentype")
        

// Config vars
// Kalidi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333

.navbar .navbar-menu
  margin-top: 27px
  box-shadow:none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.work 
  .work-product-title
    font-family: BaconVeryBold
    color: rgba(24, 24, 24, 0.8)
    padding-left: 2px
  .work-title
    font-family: BaconRegular
    font-size: 52px
    margin-top: 16px
    margin-bottom: 78px
    line-height: normal
  .work-details-title
    font-family: BaconVeryBold
    color: #b7b7b7
    margin-bottom: 13px
    font-size: 12px
  .work-details-text, .work-details-text a
    font-weight: BaconRegular
    color: #181818
    font-size: 14px

@import "~bulma"
